/.classpath
/.project
/.factorypath
/.settings/
/target/
/bin/
common-apis.iml.iml
common-apis.iml.ipr
common-apis.iml.iws

target/*
*.iml
target/*
.classpath
.project
.settings/*
.settings
bin/*
.idea/*
.sts4-cache/

